<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Variables.html</h1>
    {% comment %} <h2>My first name is {{first_name | lower | capfirst}}. My last name is {{last_name | lower | capfirst}}</h2>
    {% if user_logged_in %}
        <h1>User logged In </h1>
    {% endif %}
    {% for num in some_list %}
        {% if num == 2 %}
            <h1>{{num}}</h1>
        {% elif num == 1%}
            <h6>{{num}}</h6>
        {% else %}
            <h2>{{num}}</h2>
        {% endif %}
    {% endfor %}
    <p>{{some_list.2}}</p>
    <p>{{some_dict.inside_key}}</p> {% endcomment %}
    <p>{# this is a comment #}</p>
</body>
</html>